/* custom styling voor Politie             */
/* november 2014, Edwin Roetman            */

@import url( "fitnesse_pages.css" );
/*@import url( "fitnesse_wiki.css" );*/

/*@import url( "fitnesse_mint.css" );*/
@import url( "fitnesse_straight.css" );

#art_niche {
	background-image: url("../images/process.png");
	background-repeat: no-repeat;
}

h1, h2, h3, h4, h5 {
	 color: navy;
	 font-variant: small-caps;
}
h2 {
	 font-size: 1.4em;
}

h3{
	 font-size: 1.3em;
}

h4 {
	 font-size: 1.2em;
}

h5 {
	 font-size: 1.1em;
}

div.contents li > a.pruned {
	text-decoration: underline;
	font-style: normal;
	color: green;
}

/* Font van de Fitnesse pagina editor */
.CodeMirror-code {
	font-size: 150%;
}
